domain: example.com
docker:
  repository: example
networks:
  internal:
    name: internal
services:
  ssh:
    hostname: example.com
    environment:
      SSH_AUTHORIZED_KEYS: "..."
    ports:
      - "22222:22"
volumes: {}
